services:
  ip-scanner-grpc:
    image: golang:1.23.3-alpine
    volumes:
      - ./:/app
    working_dir: /app
    environment:
      IPSCANNER_LOG_LEVEL: debug
      IPSCANNER_GRPC_PORT: 8000
      IPSCANNER_GRPC_USE_REFLECTION: 'true'

      IPSCANNER_STORAGE_ORDER: local
      IPSCANNER_STORAGE_LOCAL_PATH: dbip.mmdb

#      IPSCANNER_STORAGE_AUTO_UPDATE_INTERVAL: 30s
#      IPSCANNER_STORAGE_AUTO_UPDATE_ORDER: s3

#      IPSCANNER_STORAGE_S3_ENDPOINT: <endpoint>
#      IPSCANNER_STORAGE_S3_ACCESS_KEY_ID: /var/run/secrets/s3-access-key-id
#      IPSCANNER_STORAGE_S3_SECRET_ACCESS_KEY: /var/run/secrets/s3-access-key
#      IPSCANNER_STORAGE_S3_USE_SSL: 'true'
#      IPSCANNER_STORAGE_S3_REGION: ru-central-1
#      IPSCANNER_STORAGE_S3_BUCKET: ip-scanner
    ports:
      - 8094:8000
      - 7094:8081
    command:
      - go
      - run
      - ./cmd/grpc/main.go
